/* message.css */
.message-container {
    display: flex;
    max-width: 45%;
    margin: 10px 0;
    background-color: #f8f8f8;
    padding: 11px;
}
.message-avatar {
    margin-right: 10px;
}
.message-content {
    display: flex;
    flex-direction: column;
}
.message-text {
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    text-align: left;
}
.message-time {
    align-self: flex-end;
    font-size: 9px;
    font-weight: 500;
    line-height: 9px;
    text-align: right;
    color: #999999;
}
